.AgendaMenu { 
    width: 100%;
    height: 40px;
    color: #ffffff;
    position: relative;

}

.AgendaMenuItemsHolder {
    position: absolute;
    bottom: 0;
    left: 0;
  }
.menuItem {
    width: 200px;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
}
  .menuItemSelected {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
  }
